<!DOCTYPE html> {% load static %} <html>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <title> Seed invest company </title>
    <meta name="description" content="Hello! I&#039;m BotX! I&#039;m first digital Bot based on artificial intelligence successfully trading in the cryptocurrency market. I make money on cryptocurrency trading - you get passive income." />
    <meta name="keywords" content="bitcoin,daily income, invest in cryptocurrency,high percent, paying program, investment program, online earnings, best affiliate program, forex alternatives" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="{% static 'assets/uploads/all/42c5686279e9468fd4f27be77ac669f1.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/xessentials.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/xstyles.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/xstyles_size.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/select2.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/countdown.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
      var h = 6;
      var m = 4;
      var s = 5;
      setInterval("showtime()", 1000);

      function showtime() {
        s++;
        if (s >= 60) {
          s = 0;
          m++;
          if (m >= 60) {
            m = 0;
            h++;
            if (h >= 24) h = 0;
          }
        }
        s = s + "";
        m = m + "";
        h = h + "";
        if (s.length < 2) s = "0" + s;
        if (m.length < 2) m = "0" + m;
        if (h.length < 2) h = "0" + h;
        document.getElementById("time").innerHTML = h + ":" + m + ":" + s;
      }
    </script>
    <script>
      function mobile_menu_button() {
        if ($('#div2').hasClass('vsbl')) $('#div2').removeClass('vsbl');
        else $('#div2').addClass('vsbl');
      };
    </script>
  </head>
  <body>
    <div id="google_translate_element"></div>
    <header class="head-x">
      <div class="container">
        <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[scripts.length - 1];
          var cccTheme = {
            "General": {
              "background": "#0000",
              "priceText": "#fff"
            },
            "Currency": {
              "color": "#fff"
            }
          };
          (function() {
            var appName = encodeURIComponent(window.location.hostname);
            if (appName == "") {
              appName = "local";
            }
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            var theUrl = baseUrl + 'serve/v3/coin/header?fsyms=BTC,ETH,LTC&tsyms=USD';
            s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
            embedder.parentNode.appendChild(s);
          })();
        </script>
        <a href="" target="_blank" class="soc telegram">
          <i class="fa fa-paper-plane"></i>
        </a>
        <a href="" target="_blank" class="soc twitter">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="" target="_blank" class="soc youtube">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="" target="_blank" class="soc telegram tg-sp">
          <i class="fa fa-paper-plane"></i> Support </a>
        <span class="time">
          <i class="fa fa-clock-o"></i>
          <a href="" target="_blank"> Open Support Ticket </a>
        </span>
      </div>
    </header>
    <header class="menu-x">
      <div class="container">
        <a href="">
          <img src="{% static  'assets/uploads/all/logos.png' %}" class="logo-bot">
        </a>
        <style>
          .logo-bot {
            width: 187px;
            display: block;
            float: left;
            height: 35px;
            margin-top: 8px
          }
        </style>
        <button id="div1" onclick="mobile_menu_button();" class="btn btn-primary btn-menu">
          <i class="fa fa-bars"></i>
        </button>
        <div id="div2" class="menu_mobile_box">
          <ul class="top-nav">
            <div class="visible-sm visible-xs"></div>
            <li>
              <a href="">
                <span class="newest"></span>
                <i class="fa fa-gift"></i>Terms </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-life-saver"></i>FAQ </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-envelope"></i>Contact Me </a>
            </li>

			{% if user.is_authenticated %}
			<li>
				<a id="quick_sign_in" href="{% url 'userprofile:logout' %}" data-toggle="" class="btn btn-border m-r-20 visible-md visible-lg">Logout</a>
			</li>
		{% else %}
			<li>
				<a href="{% url 'userprofile:login' %}" class="btn btn-border visible-sm visible-xs">Login</a>
				<a id="quick_sign_in" href="" data-toggle="dropdown" class="btn btn-border m-r-20 visible-md visible-lg">Login</a>
				<div class="dropdown-menu short-animation fadeInDown" role="menu" aria-labelledby="quick_sign_in">
					<form method="post" name="mainform" action="{% url 'userprofile:login' %}" onsubmit="return checkform()">
						{% csrf_token %}
						<div class="form-group">
							<input required type="text" name="username" class="form-control" placeholder="Login">
						</div>
						<div class="form-group">
							<input required type="password" name="password" class="form-control" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary m-r-15">Login</button>
						
						<a class="btn btn-border" href="{% url 'userprofile:register' %}">Sign Up</a>
					</form>
					<a class="forgot_pass" href="">Forgot password?</a>
				</div>
			</li>
		{% endif %}

		{% if user.is_authenticated%}
		
            <li>
              <a class="btn btn-primary" href="{% url 'userprofile:dashboard'%}">{{user.username | capfirst}}</a>
            </li>

			{%else %}

			<li>
				<a class="btn btn-primary" href="{% url 'userprofile:register'%}">Sign Up</a>
			  </li>

			  {% endif %}
          </ul>
          <button id="div1" onclick="mobile_menu_button();" class="close_menu_btn">
        </div>
      </div>
    </header>
    <div id="wrapper">
      <section>
        <div class="container m-b-70">
          <div class="row">
            <div class="col-md-4 oneblock anima" data-animation="fadeInLeft">
              <h1 class="heading">Seed invest company</h1>
              <p class="text"> Hello! I'm Seed invest company! I'm first digital Bot based on artificial intelligence successfully trading in the cryptocurrency market. I make money on cryptocurrency trading - you get passive income. </p>
              <a href="{% url 'userprofile:register'%}" class="btn btn-primary btn-lg m-r-15 strt">
                <i class="fa fa-play-circle"></i>Start </a>
              <a href="{% url 'userprofile:login'%}" class="btn btn-border btn-lg">Login</a>
            </div>
            <div class="col-md-8">
              <img src="{% static 'assets/uploads/all/6bd0669fdf73f75b2c2475c85ef7a11e.jpg' %}" class="ho1">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container m-b-150">
          <div class="x-investment">
            <div class="row row45">
              <div class="col-md-7 anima" data-animation="fadeInLeft">
                <div class="make-dep">
                  <div class="btn-group btn-group-justified deposits-btn dep-home" data-toggle="buttons">
                    <label class="btn active">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>40%</h4>
                        <p class="notedep">
                          <span class="text-color">BASIC</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>40%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5> 3 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>Yes</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$500 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$999</h5>
                        </div>
                      </div>
                    </label>
                    <label class="btn ">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>25%</h4>
                        <p class="notedep">
                          <span class="text-color">PRO</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>25%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5> 7 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>Yes</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$1000 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$4,999</h5>
                        </div>
                      </div>
                    </label>
                    <label class="btn ">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>35%</h4>
                        <p class="notedep">
                          <span class="text-color">STANDARD</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>35%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5> 7 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>Yes</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$5,000 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$19,999</h5>
                        </div>
                      </div>
                    </label>
                    <label class="btn ">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>40%</h4>
                        <p class="notedep">
                          <span class="text-color">PREMIUM</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>40%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5> 14 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>Yes</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$20,000 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$49,999</h5>
                        </div>
                      </div>
                    </label>
                    <label class="btn ">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>45%</h4>
                        <p class="notedep">
                          <span class="text-color">ULTIMATE</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>45%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5>14 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>No</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$50,000 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$99,999</h5>
                        </div>
                      </div>
                    </label>
                    <label class="btn ">
                      <input type="radio" name="botxplans" checked="" onchange="refresh_profit();" value="D1">
                      <div class="xlogo-deposit">
                        <h4>50%</h4>
                        <p class="notedep">
                          <span class="text-color">ULTIMATE PUMP</span>
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-xs-6">
                          <label>Percent</label>
                          <h5>50%</h5>
                        </div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                          <label>Period</label>
                          <h5>14 days</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Principal</label>
                          <h5>No</h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Min deposit</label>
                          <h5>$100,000 </h5>
                        </div>
                        <div class="col-xs-6">
                          <label>Max deposit</label>
                          <h5>$200,000</h5>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-5 anima inv" data-animation="fadeInRight">
                <h3 class="subtitle">INVESTMENTS OFFER</h3>
                <h1 class="heading">Investments</h1>
                <p class="text">The market is very volatile and crypto trading is difficult, , and takes a lot of time. But in order to invest using my platform, you do not need special deep knowledge, it is enough to familiarize yourself with my investment proposals, their profitability and timing. <br>Any of your choices will be an excellent good start to increasing your investment portfolio. </p>
                <h3 class="subtitle">CALCULATE YOUR PROFIT</h3>
                <div class="row calc genesis-calculate">
                  <div class="col-xs-6">
                    <label>Daily profit </label>
                    <p class="notedep">$ <span id="td1" class="text-color">120</span>
                      </h4>
                  </div>
                  <div class="col-xs-6">
                    <label>Total profit</label>
                    <p class="notedep">$ <span id="td2" class="text-color">2000</span>
                      </h4>
                  </div>
                </div>
                <label>Return of investment (R.O.I)</label>
                <p class="notedep">$ <span id="td3" class="text-color">1000</span>
                  </h4>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>I want to invest</label>
                      <input required="" type="text" class="form-control" id="sum" value="1000" onchange="refresh_profit()" onKeyUp="refresh_profit()">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <a href="" class="btn btn-primary btn-block btn-lg m-t-20">Invest now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container m-b-100">
          <div class="row row45">
            <div class="col-md-5 anima fadeInLeft animation-visible" id="info" data-animation="fadeInLeft">
              <h3 class="subtitle">STATISTIC</h3>
              <h1 class="heading">Platform statistic</h1>
              <div class="row">
                <div class="col-sm-6">
                  <div class="white-row stepsdo rating1">
                    <span>Funds deposited</span>
                    <h4 class="nomargin">$10563</h4>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-row stepsdo rating2">
                    <span>Days online</span>
                    <h4 class="nomargin"> 3291</h4>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-row stepsdo">
                    <span>Active investors</span>
                    <h4 class="nomargin">148</h4>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="white-row stepsdo">
                    <span>Revenue paid</span>
                    <h4 class="nomargin">$2008080</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 anima fadeInRight animation-visible" data-animation="fadeInRight">
              <div class="white-row white-row-table">
                <ul class="nav nav-pills isotope-filter">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab" aria-expanded="true"> Latest Withdrawls </a>
                  </li>
                  <li class="">
                    <a href="#tab2" data-toggle="tab" aria-expanded="false"> Latest Deposits </a>
                  </li>
                  <!--<li class="">-->
                  <!--	<a href="#tab3" data-toggle="tab" aria-expanded="false">-->
                  <!--		Latest users-->
                  <!--	</a>-->
                  <!--</li>-->
                </ul>
                <div class="tab-content">
                  <div id="tab1" class="tab-pane active">
                    <div class="table-responsive">
                      <table id="list_enter" class="table table-striped table-hover m-b-10">
                        <thead>
                          <tr>
                            <th>Payment system</th>
                            <th>Amount</th>
                            <th>Time</th>
                            <th>User</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                          <!--	<tr>-->
                          <!--	<td><img alt="8" src="theme/assets/images/gateways/8.png" width="25"></td>-->
                          <!--	<td>-150.00</td>-->
                          <!--	<td>1 year ago</td>-->
                          <!--	<td>alex</td>-->
                          <!--</tr>-->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="tab2" class="tab-pane">
                    <div class="table-responsive">
                      <table id="list_output" class="table table-striped table-hover m-b-10">
                        <thead>
                          <tr>
                            <th>Payment system</th>
                            <th>Amount</th>
                            <th>Time</th>
                            <th>User</th>
                          </tr>
                        </thead>
                        <tbody id="depositBody"></tbody>
                      </table>
                    </div>
                  </div>
                  <!--				<div id="tab3" class="tab-pane">-->
                  <!--					<div class="table-responsive">-->
                  <!--						<table id="list_users" class="table table-striped table-hover m-b-10"><thead>-->
                  <!--							<tr>-->
                  <!--								<th>Country</th>-->
                  <!--								<th>Time</th>-->
                  <!--								<th>User</th>	-->
                  <!--							</tr>-->
                  <!--							</thead><tbody>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/ie.png" alt="Ireland" title="Ireland"> Ireland</td>-->
                  <!--    <td>18 min ago</td>-->
                  <!--    <td>zosin***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/ca.png" alt="Canada" title="Canada"> Canada</td>-->
                  <!--    <td>26 min ago</td>-->
                  <!--    <td>ardit***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/it.png" alt="Italy" title="Italy"> Italy</td>-->
                  <!--    <td>40 min ago</td>-->
                  <!--    <td>den***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/ro.png" alt="Romania" title="Romania"> Romania</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>yren***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/dk.png" alt="Denmark" title="Denmark"> Denmark</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>vicki***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/ie.png" alt="Ireland" title="Ireland"> Ireland</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>cheyenn***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/lv.png" alt="Latvia" title="Latvia"> Latvia</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>dzul***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/it.png" alt="Italy" title="Italy"> Italy</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>joe***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/gb.png" alt="United Kingdom" title="United Kingdom"> United Kingdom</td>-->
                  <!--    <td>1 hr ago</td>-->
                  <!--    <td>ikaut***</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                  <!--	<td><img src="images/flags/md.png" alt="Moldova" title="Moldova"> Moldova</td>-->
                  <!--    <td>2 hr ago</td>-->
                  <!--    <td>alfred***</td>-->
                  <!--</tr>-->
                  <!--</tbody></table>-->
                  <!--					</div>-->
                  <!--				</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container m-b-100">
          <div class="row row25">
            <div class="col-md-6 anima steps_right" data-animation="fadeInLeft">
              <h3 class="subtitle">EASY STEPS</h3>
              <h1 class="heading">How to Start?</h1>
              <img src="{% static 'assets/images/home/howdo.jpg' %}" alt="" class="howdoimg">
            </div>
            <div class="col-md-6 anima" data-animation="fadeInRight">
              <div class="white-row stepsdo">
                <label>1</label>
                <h4>Open an account</h4>
                <p>It’s fast, easy, and free – with no membership fees whatsoever! To open a personal account, click the “Sign Up” button in the site header.</p>
              </div>
              <div class="row">
                <div class="white-row stepsdo">
                  <label class="tread">2</label>
                  <h4>Make deposit</h4>
                  <p>In order to make a deposit and start receiving stable high dividends, select the New Deposit tab and specify the amount you want to contribute, but not less than 10 USD.</p>
                </div>
                <div class="white-row stepsdo">
                  <label class="tread">3</label>
                  <h4>Withdraw your funds</h4>
                  <p>You can withdraw your interest earned from your investment. All your withdrawals are made available to your wallet within 12 hours.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container m-b-100">
          <div class="row row45">
            <div class="col-md-6 anima" data-animation="fadeInLeft">
              <div class="white-row stepsdo">
                <h4>REFERRAL COMMISSION</h4>
                <table class="table affiliates-table">
                  <tbody>
                    <tr>
                      <td>LV 1</td>
                      <td>12%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar" style="width:62%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 2</td>
                      <td>6%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar" style="width:56%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 3</td>
                      <td>2%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar" style="width:52%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 4</td>
                      <td>1%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar" style="width:51%"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h4>EARNING COMMISSION</h4>
                <table class="table affiliates-table">
                  <tbody>
                    <tr>
                      <td>LV 1</td>
                      <td>4.00%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbleader" style="width:54%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 2</td>
                      <td>3.00%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbleader" style="width:53%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 3</td>
                      <td>2.00%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbleader" style="width:52%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 4</td>
                      <td>1.00%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbleader" style="width:51%"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h4>HEAD COMMISSION</h4>
                <table class="table affiliates-table">
                  <tbody>
                    <tr>
                      <td>LV 1</td>
                      <td>15%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbpresident" style="width:62%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 2</td>
                      <td>9%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbpresident" style="width:56%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 3</td>
                      <td>5%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbpresident" style="width:52%"></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>LV 4</td>
                      <td>4%</td>
                      <td>
                        <div class="progress nomargin">
                          <div class="progress-bar pbpresident" style="width:51%"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 m-t-60 anima" data-animation="fadeInRight">
              <h3 class="subtitle">AFFILIATES</h3>
              <h1 class="heading">Affiliate Program <span class="text-color">BOTX</span>
              </h1>
              <p class="text">
                <span class="text-color">Seed invest company</span> is a huge community, which has a great influence on the development of cryptovoltaics, and we are always happy to welcome new people, in gratitude for this community allocates up to 18% of the partner program for your contribution to the development of cryptovoltaics. The bigger the community, the more profitable the paramaining factor.
              </p>
              <a href="" class="btn btn-primary btn-lg strt">
                <i class="fa fa-play-circle"></i>Become a partner now </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container m-b-100 home-center">
          <div class="row">
            <div class="col-md-4 faqaf anima" data-animation="fadeInLeft">
              <h3 class="subtitle">FREQUENTLY ASKED QUESTIONS</h3>
              <h1 class="heading">FAQ</h1>
              <p class="text">I am constantly improving my customer support experience and my services. Learn how to my platform like a pro and get answers to common questions! Can’t find what you’re looking for? Click the <a href="login.php">"Support"</a> button in the top of the page. </p>
              <a href="" class="btn btn-primary btn-lg strt">
                <i class="fa fa-info-circle"></i>View all asked questions </a>
            </div>
            <div class="col-md-8 anima" data-animation="fadeInRight">
              <div class="toggle">
                <label>Who are you?</label>
                <div class="toggle-content"> Hello! I'm BotX! I'm first digital Bot based on artificial intelligence successfully trading in the cryptocurrency market. I make money on cryptocurrency trading - you get passive income. </div>
              </div>
              <div class="toggle">
                <label>How to make an investment?</label>
                <div class="toggle-content"> You can invest in my program simply a easily by clicking the “Make Deposit” button on the <a href="login.php" target="_blank">home page of your account</a>. Select the appropriate investment plan, currency, enter the amount and click the "Make Deposit" button. </div>
              </div>
              <div class="toggle">
                <label>When will the funds be available on my e-currency account?</label>
                <div class="toggle-content"> As a rule, i'm trying to process withdrawals as fast . Your funds will be available in a few hours. Maximum processing time is 12 hours. </div>
              </div>
			  <div class="toggle">
				<label>What is the minimum/maximum amount that I can invest?</label>
				<div class="toggle-content">
					<div class="table-responsive">
						<p>The minimum and maximum investment amounts depend on your selected investment plan and its terms. The limits vary based on your plan's guidelines, your account status, and other factors such as your ROI. Please refer to your plan for specific details or reach out to our support team if you need more information about your investment limits.</p>
					</div>
				</div>
			</div>
			
			  <div class="toggle">
				<label>What is the minimum/maximum amount that I can cash out?</label>
				<div class="toggle-content">
					<div class="table-responsive">
						<p>The minimum and maximum cash out amounts are determined by your current Return on Investment (ROI) and the plan you're on. Depending on your plan's terms, your available cash-out amount may vary. Please refer to your specific plan for more details, or contact support if you have any questions regarding your cash-out limits.</p>
					</div>
				</div>
			</div>
			
              <div class="toggle">
                <label>Can’t find your answer?</label>
                <div class="toggle-content">
                  <a href="">Get in touch with me</a> and we’ll get back to you as soon as possible
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="join">
        <div class="container">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 anima" data-animation="fadeInRight">
              <h3 class="subtitle">JOIN US</h3>
              <h1 class="heading">Get cryptocurrency profitably with <span class="text-color">Seed invest company</span>
              </h1>
              <a href="{% url 'userprofile:register' %}" class="btn btn-primary btn-lg m-r-15 strt">
                <i class="fa fa-play-circle"></i>Start </a>
              <a href="{% url 'userprofile:login' %}" class="btn btn-border btn-lg">Login</a>
              <h3 class="subtitle m-t-20 m-b-15">JOIN THE MY COMMUNITY</h3>
              <div>
                <a href="" target="_blank" class="soc telegram">
                  <i class="fa fa-paper-plane"></i>
                </a>
                <a href="" target="_blank" class="soc twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="" target="_blank" class="soc youtube">
                  <i class=""></i>
                </a>
                <a href="" target="_blank" class="soc telegram">
                  <i class="fa fa-paper-plane"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div style="height:433px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px; margin: 0px; width: 100%;">
        <div style="height:413px; padding:0px; margin:0px; width: 100%;">
          <iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=6&pref_coin_id=1505&graph=yes" width="100%" height="409px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
        </div>
        <div style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
          <a href="https://coinlib.io" target="_blank" style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px"></a>&nbsp;
        </div>
      </div>
      
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="theme/assets/plugins/jquery-2.1.4.min.js"></script><script>
	$(function() {
		refresh_profit();
		reload_lists();
	}); //ready

	setInterval("reload_lists()", 60000);
	// функция обновляет списки вводов-выводов
	function reload_lists() {
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "includes/ajax_get_enter_out.php",
			timeout: 30000,
			success: function(res) {
				$('#list_enter').php(res.enter);
				$('#list_output').php(res.output);
				$('#list_users').php(res.users);
				$('#info').php(res.info);
			}
		});
	};

	function refresh_profit() {
		var tarif = document.querySelector('input[name=botxplans]:checked').value;
		var sum = document.querySelector('#sum').value.replace(',', '.');
		if (tarif == 'D1') {
			document.querySelector("#td1").innerHTML = (sum * 0.12).toFixed(2);
			document.querySelector("#td2").innerHTML = (sum * 2.0).toFixed(2);
			document.querySelector("#td3").innerHTML = (sum * 1.0).toFixed(2);
		} else if (tarif == 'D2') {
			document.querySelector("#td1").innerHTML = (sum * 0.14).toFixed(2);
			document.querySelector("#td2").innerHTML = (sum * 2.1).toFixed(2);
			document.querySelector("#td3").innerHTML = (sum * 1.1).toFixed(2);
		};
	}; //refresh_profit

</script>
    </div>
    <footer>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h2>Accepted here:</h2>
            </div>
            <div class="col-sm-8">
              <div class="footer_payments">
                <a href="https://bitcoin.org/" target="_blank">
                  <img src="{% static 'assets/images/Bitcoin.svg' %}" class="Bitcoin">
                </a>
                <a href="https://bitcoin.org/" target="_blank">
                  <img src="{% static 'assets/images/usdt.svg' %}" class="Ripple">
                </a>
                <a href="https://www.ethereum.org/" target="_blank">
                  <img src="{% static 'assets/images/Ethereum.svg' %}" class="Ethereum">
                </a>
                <a href="https://litecoin.org/" target="_blank">
                  <img src="{% static 'assets/images/Litecoin.svg' %}" class="Litecoin">
                </a>
                <a href="https://www.dash.org/" target="_blank">
                  <img src="{% static 'assets/images/Dash.svg' %}" class="Dash">
                </a>
                <a href="https://www.bitcoincash.org/" target="_blank">
                  <img src="{% static 'assets/images/Bitcoin%20Cash.svg' %}" class="Bitcoin Cash">
                </a>
                <a href="https://ripple.com/" target="_blank">
                  <img src="{% static 'assets/images/Ripple.svg' %}" class="Ripple">
                </a>
                <a href="https://getmonero.org/" target="_blank">
                  <img src="{% static 'assets/images/Monero.svg' %}" class="Monero">
                </a>
                <a href="https://perfectmoney.is/" target="_blank">
                  <img src="{% static 'assets/images/Perfect%20Money.svg' %}" class="Perfect Money">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span>&copy;Seed Invest Company 2018</span>
            </div>
            <div class="col-md-6">
              <ul class="footer-menu">
                <li>
                  <a href="">About Us</a>
                </li>
                <li>
                  <a href="">Plans</a>
                </li>
                <li>
                  <a href="">News</a>
                </li>
                <li>
                  <a href="">FAQ</a>
                </li>
                <li>
                  <a href="">Contacts</a>
                </li>
                <li>
                  <a href="">Terms of use</a>
                </li>
                <!--<li><a href="/privacypolicy">Privacy policy</a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <a class="toTop" href="#topNav">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
    </footer>
    <div class="modal fade lang-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lng">
        <div class="modal-content">
          <div class="modal-body">
            <ul>
              <li>
                <a href="" class="active">
                  <img src="{% static 'assets/uploads/all/92e77fd2bd0a4154b17094e93ea06c5f.svg' %}">English </a>
              </li>
              <li>
                <a href="" class="active">
                  <img src="{% static 'assets/uploads/all/a590c1eb78c89a284cc9115f3e2b316d.svg' %}">Hindi </a>
              </li>
              <li>
                <a href="" class="active">
                  <img src="{% static 'assets/uploads/all/plan.png' %}">RUSIA </a>
              </li>
            </ul>
            <a href="" class="m-t-15">Suggest a correction (Translation Services)</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- <script src="{% static 'assets/plugins/select2/jquery.min.js' %}"></script> -->
    <script>
      $(document).ready(function() {
        $('select').select2();
      });
    </script>
    <script>
      // Function to generate random names
      function getRandomName() {
        const names = ["Alex", "Bob", "Charlie", "David", "Emily", "Fiona", "George", "Hannah", "Ian", "Jack", "Alice", "Roseline", "Damian", "Rodriguez"];
        return names[Math.floor(Math.random() * names.length)];
      }
      // Function to generate random amounts
      function getRandomAmount() {
        return (Math.random() * 1000).toFixed(2); // Random amount between 0 and 1000
      }
      // Function to generate random time
      function getRandomTime() {
        return Math.floor(Math.random() * (3 - 2 + 1)) + 2; // Random time between 2 and 3 seconds
      }
      // Function to populate the first table
      function populateTable() {
        const tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = '';
        for (let i = 0; i < 10; i++) {
          const imgSrc = "{% static 'assets/images/gateways/' %}" + i + ".png"; // Dynamic image path
          const row = document.createElement('tr');
          row.innerHTML = `
                
																																														<td>
																																															<img alt="Image ${i}" src="${imgSrc}" width="25" onerror="console.error('Failed to load:', '${imgSrc}')">
																																															</td>
																																															<td>$${getRandomAmount()}</td>
																																															<td>${getRandomTime()} seconds ago</td>
																																															<td>${getRandomName()}</td>
            `;
          tableBody.appendChild(row);
        }
      }
      // Populate the deposit table
      function populateDepositTable() {
        const tableBody = document.getElementById('depositBody');
        tableBody.innerHTML = '';
        for (let i = 0; i < 10; i++) {
          const imgSrc = "{% static 'assets/images/gateways/' %}" + i + ".png";
          const row = document.createElement('tr');
          row.innerHTML = `
                
																																															<td>
																																																<img alt="Image ${i}" src="${imgSrc}" width="25" onerror="console.error('Failed to load:', '${imgSrc}')">
																																																</td>
																																																<td>$${getRandomAmount()}</td>
																																																<td>${getRandomTime()} seconds ago</td>
																																																<td>${getRandomName()}</td>
            `;
          tableBody.appendChild(row);
        }
      }
      // Initialize the tables
      populateTable();
      populateDepositTable();
      // Refresh every 5 seconds
      setInterval(populateTable, 5000);
      setInterval(populateDepositTable, 5000);
    </script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/jquery.appear.js' %}"></script>
    <script src="https://kit.fontawesome.com/54dcfa2d16.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/plugins/jquery-migrate-1.2.1.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'assets/plugins/jquery-countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/countdown.min.js' %}"></script>
    <script src="{% static 'assets/plugins/select2select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/scripts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/js.cookie.js' %}"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function() {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/65e6ae8b9131ed19d9750d27/1ho6hjkuv';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en'
        }, 'google_translate_element');
      }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--End of Tawk.to Script-->
  </body>
  <!-- Mirrored from hyip-script.firstwebmaker.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Feb 2024 00:20:34 GMT -->
</html>