<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .dashboard_btn {
            font-size: 20px;
            line-height: 16.78px;
            font-weight: 500;
            border-radius: 4px;
            padding: 10px 10px;
            color: #ffffff;
            /* background-color: #2D60FF; */
            background: linear-gradient(107deg, #f0a, #9c42f5 53%, #5d2de1);
            cursor: pointer;
            border: none;
            margin-top: 6px;
        }
    </style>
</head>
<body>

{% block content %}
  <div class="alert alert-danger" role="alert">
    <h2>We're Sorry, Something Went Wrong</h2>
    <p>There was an issue while sending your email. If the problem persists, please don't hesitate to <a href="#" class="alert-link">contact our support team</a> for assistance.</p>
    <a href="{% url 'userprofile:dashboard' %}" class="dashboard_btn btn">Return to Dashboard</a>
  </div>
{% endblock %}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
